.home {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.home__left {
  flex: 0.9;
  margin-bottom: 20px;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.home__dropdown {
  background-color: white;
}

.home__stats {
  display: flex;
  justify-content: space-between;
}

.home__right {
  height: 630px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .home {
    flex-direction: column;
  }
}
